<a href="https://colab.research.google.com/github/dollytwn/nyu-python-public-policy/blob/master/Class_0_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
from google.colab import drive

In [11]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
zoo_animals = pd.read_csv('/content/drive/My Drive/Data for Python/zoo.csv',header='infer')

In [23]:
df.head(10)

     animal  uniq_id  water_need
0  elephant     1001         500
1  elephant     1002         600
2  elephant     1003         550
3     tiger     1004         300
4     tiger     1005         320
5     tiger     1006         330
6     tiger     1007         290
7     tiger     1008         310
8     zebra     1009         200
9     zebra     1010         220

In [0]:
zoo_animals_2 = pd.read_csv('/content/drive/My Drive/Data for Python/zoo.csv', header='infer')