<a href="https://colab.research.google.com/github/dollytwn/nyu-python-public-policy/blob/master/HW_1_Dolly_Wei_Mei_Huang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/311_Service_Requests_2018-19.csv', header='infer')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,17,20,31,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

   Unique Key  ...                                 Location
0    39888071  ...   (40.79333937834769, -73.9429417746998)
1    39889166  ...   (40.82012422332215, -73.9530712339799)
2    39882869  ...   (40.67080917938279, -73.9513990916184)
3    39894246  ...  (40.74026158873342, -73.99051651686905)
4    39881329  ...  (40.68814402968042, -73.75098958473612)

[5 rows x 41 columns]

In [6]:
df.tail()

         Unique Key  ...                                 Location
2859195    43619262  ...   (40.87970084316435, -73.9010571445122)
2859196    43622052  ...  (40.70178323733244, -73.92055493919345)
2859197    43625918  ...   (40.66999185896368, -73.9224889475533)
2859198    43622055  ...                                      NaN
2859199    43623704  ...  (40.63679359185655, -74.15397942810047)

[5 rows x 41 columns]

In [7]:
df['Created Date']. min () #minium value in Created Date

'01/01/2019 01:00:00 PM'

In [8]:
df['Created Date']. max () #maximum value in Created Date

'12/31/2018 12:59:41 PM'

The minimum value in Created Date is 01/01/2019 and the maximum value is 12/31/2018. Both of which are incorrect. I believe that it is because the system ranks min and max value by the first two number which is the month of the year instead of looking at it as a day (month, day, year).

In [9]:
df['Created Date'].head()

0    08/01/2018 12:00:10 AM
1    08/01/2018 12:00:26 AM
2    08/01/2018 12:00:54 AM
3    08/01/2018 12:01:00 AM
4    08/01/2018 12:01:00 AM
Name: Created Date, dtype: object

In [10]:
df['Created Date'].head(1)

0    08/01/2018 12:00:10 AM
Name: Created Date, dtype: object

In [11]:
df['Created Date'].tail()

2859195    08/24/2019 02:00:14 AM
2859196    08/24/2019 02:00:20 AM
2859197    08/24/2019 02:00:27 AM
2859198    08/24/2019 02:00:54 AM
2859199    08/24/2019 02:00:56 AM
Name: Created Date, dtype: object

In [12]:
df['Created Date'].tail(1)

2859199    08/24/2019 02:00:56 AM
Name: Created Date, dtype: object

After further investigation and many failed attempts, I discovered the sequence of the entries of the 311 Dataset. The earlierst entries will be at the top of the list, which is the head, and the lattest entries will be at the bottom of the list, which is the tail. To find the min and max, it will be the very first and very last entry of the head and tail. Hence, I think that the min value for Created Date is 08/01/2018 12:00:10 AM and the max value is 08/24/2019 02:00:56 AM

In the data36 tutorials, I was able to follow everything until the article_read dataset. I was unable to import the data but I think that I got the idea. I also learned that I had to add a ( ) for all the mode tutorials. For example a/b has to be entered as (a/b)