<a href="https://colab.research.google.com/github/dollytwn/nyu-python-public-policy/blob/master/HW_3_Dolly_Wei_Mei_Huang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from google.colab import drive

In [0]:
# You can use pd.set_option() to make sure you see all the rows and columns in your dataframe
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000

In [3]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/cleaned_311_data_hw3.csv', header='infer')

In [5]:
set(df.complaint_type)

{'Bridge Condition',
 'Broken Parking Meter',
 'Bus Stop Shelter Complaint',
 'Graffiti',
 'Highway Condition',
 'Maintenance or Facility',
 'Public Payphone Complaint',
 'Public Toilet',
 'School Maintenance'}

In [6]:
set(df.descriptor)

{'Air Conditioning Problem',
 'American Flag',
 'Asbestos',
 'Bent/Loose',
 'Broken Fence',
 'Broken Glass',
 'Broken Lock',
 'Broken Water Fountain',
 'Broken Window',
 'Cave-in',
 'Coin or Card Did Not Register',
 'Concrete Barrier',
 'Crash Cushion Defect',
 'Credit Card Stuck in Meter',
 'Damaged Bench',
 'Damaged Leg or Pole Bent',
 'Damaged Other',
 'Damaged Telephone',
 'Damaged Toilet/Sink',
 'Damaged or Leaking Roof',
 'Damaged or Missing Ad Box',
 'Dead Animal',
 'Decorative Necklace Lighting',
 'Dirt, Debris, Litter Complaint',
 'Dirty/Graffiti',
 'Fallen Debris from Bridge',
 'Fence',
 'Flooded',
 'Garbage or Litter',
 'Graffiti',
 'Graffiti - Bridge',
 'Graffiti - Highway',
 'Graffiti or Vandalism',
 'Graffiti/Litter on Phone',
 'Grass/Weeds',
 'Guard Rail - Bridge',
 'Guard Rail - Highway',
 'Heating Problem',
 'High Grass',
 'Highway Fence',
 'Hours of Operation',
 'Lack of Supplies',
 'Leaky Roof',
 'Lighting',
 'Litter',
 'Loose Plate',
 'Lost Coin',
 'Missing/Stump',
 'New Automatic Public Toilet Request',
 'No Dial Tone',
 'No Receipt',
 'Other School Condition',
 'Out of Order',
 'Painted Line/Marking',
 'Parking Card Stuck in Meter',
 'Phone Blocking Sidewalk',
 'Plumbing Problem',
 'Poison Ivy',
 'Police Report Not Requested',
 'Police Report Requested',
 'Pothole',
 'Pothole - Highway',
 'Relocation of Parking Meter',
 'Rodent Sighting',
 'Rodents/Mice',
 'Rough Pavement',
 'Sign Blocked by Tree',
 'Sign Missing or Defective',
 'Snow Removal Requested',
 'Snow on Overpass',
 'Snow or Ice',
 'Snow/Ice',
 'Structure - Indoors',
 'Structure - Outdoors',
 'Timer Defect - Fast/Fail',
 'Unclean Condition',
 'Unsafe Worksite',
 'Unsecured Facility'}

In [0]:
# Step 1
cd_counts = df.groupby('complaint_type').size().reset_index(name='descriptor').sort_values('descriptor', ascending=False)

In [8]:
# Graffiti is present in either the complaint_type value or descriptor value.
cd_counts

               complaint_type  descriptor
3                    Graffiti       24986
5     Maintenance or Facility       17665
1        Broken Parking Meter       14210
4           Highway Condition        3543
8          School Maintenance        2372
2  Bus Stop Shelter Complaint         990
0            Bridge Condition         392
6   Public Payphone Complaint         378
7               Public Toilet          41

In [9]:
cd_counts.head()

            complaint_type  descriptor
3                 Graffiti       24986
5  Maintenance or Facility       17665
1     Broken Parking Meter       14210
4        Highway Condition        3543
8       School Maintenance        2372

In [0]:
# df['graffiti_flag']= df.apply(recode_graffitti_count, axis=1)
def recode_graffiti_counts(row):
  if pd.notnull(row.descriptor):
    if 'graffiti' in row.complaint_type.lower():
      return True 
    elif 'graffiti' in row.descriptor.lower():
      return True
    else:
      return False

In [11]:
type(recode_graffiti_counts)

function

In [0]:
# Step 2
df['graffiti_flag'] = df.apply(recode_graffiti_counts, axis=1)

In [13]:
df.head(10)

,Unnamed: 0,Unnamed: 0.1,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,cross_street_1,cross_street_2,intersection_street_1,intersection_street_2,address_type,city,landmark,facility_type,status,due_date,resolution_description,resolution_action_updated_date,community_board,bbl,borough,x_coordinate_(state_plane),y_coordinate_(state_plane),open_data_channel_type,park_facility_name,park_borough,vehicle_type,taxi_company_borough,taxi_pick_up_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,latitude,longitude,location,graffiti_flag
0,238,238,39887282,08/01/2018 01:42:01 AM,08/14/2018 02:42:12 PM,DPR,Department of Parks and Recreation,Maintenance or Facility,Structure - Outdoors,Park,10003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NEW YORK,NaN,NaN,Closed,08/15/2018 01:42:01 AM,The Department of Parks and Recreation has com...,08/14/2018 02:42:12 PM,0 Unspecified,NaN,Unspecified,NaN,NaN,PHONE,First Park,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,353,353,39889407,08/01/2018 03:20:07 AM,08/23/2018 11:15:00 AM,DPR,Department of Parks and Recreation,Maintenance or Facility,Garbage or Litter,Park,11434.0,NaN,NaN,NaN,NaN,BAISLEY BOULEVARD,MERRICK BOULEVARD,INTERSECTION,JAMAICA,NaN,NaN,Closed,08/04/2018 03:20:07 AM,The Service Request submitted did not have suf...,08/23/2018 11:15:00 AM,12 QUEENS,NaN,QUEENS,1048111.0,188479.0,PHONE,Unspecified,QUEENS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.683778,-73.769744,"(40.68377771085733, -73.76974413109498)",False
2,403,403,39893067,08/01/2018 04:19:15 AM,08/02/2018 08:19:55 AM,DPR,Department of Parks and Recreation,Maintenance or Facility,Hours of Operation,Park,11206.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BROOKLYN,NaN,NaN,Closed,08/04/2018 04:19:15 AM,The Department of Parks and Recreation has com...,08/02/2018 08:19:55 AM,01 BROOKLYN,NaN,BROOKLYN,NaN,NaN,MOBILE,Ten Eyck Plaza,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,655,655,39890578,08/01/2018 07:32:33 AM,08/16/2018 10:28:38 AM,DPR,Department of Parks and Recreation,Maintenance or Facility,Garbage or Litter,Park,11691.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FAR ROCKAWAY,NaN,NaN,Closed,08/04/2018 07:32:33 AM,The Department of Parks and Recreation has com...,08/16/2018 10:28:38 AM,14 QUEENS,NaN,QUEENS,NaN,NaN,PHONE,Westbourne Playground,QUEENS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,658,658,39896325,08/01/2018 07:33:12 AM,09/04/2018 05:38:02 PM,DPR,Department of Parks and Recreation,Maintenance or Facility,Garbage or Litter,Park,11355.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FLUSHING,NaN,NaN,Closed,08/04/2018 07:33:12 AM,The condition was inspected and it was determi...,09/04/2018 05:38:02 PM,07 QUEENS,NaN,QUEENS,NaN,NaN,MOBILE,Maple Playground,QUEENS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5,661,661,39895587,08/01/2018 07:34:44 AM,08/10/2018 01:45:07 PM,DPR,Department of Parks and Recreation,Maintenance or Facility,Unsecured Facility,Park,10033.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NEW YORK,NaN,NaN,Closed,08/04/2018 07:34:44 AM,The Department of Parks and Recreation has com...,08/10/2018 01:44:53 PM,12 MANHATTAN,NaN,MANHATTAN,NaN,NaN,PHONE,Fort Tryon Park - Anne Loftus Playground,MANHATTAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
6,713,713,39890857,08/01/2018 07:53:38 AM,08/08/2018 04:21:55 PM,DPR,Department of Parks and Recreation,Maintenance or Facility,Grass/Weeds,Street/Curbside,11429.0,211 STREET,211 STREET,104 AVENUE,HOLLIS AVENUE,NaN,NaN,BLOCKFACE,QUEENS VILLAGE,NaN,NaN,Closed,08/15/2018 07:53:38 AM,The Service Request submitted did not have suf...,08/08/2018 04:21:55 PM,13 QUEENS,NaN,QUEENS,1054213.0,198447.0,PHONE,Unspecified,QUEENS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.711091,-73.747639,"(40.711091308732435, -73.74763946439865)",False
7,789,789,39894929,08/01/2018 08:07:49 AM,08/07/2018 12:20:24 PM,DOT,Department of Transportation,Broken Parking Meter,Coin or Card Did Not Register,Street,10461.0,NaN,NaN,NaN,NaN,WESTCHESTER AVENUE,COLONIAL AVENUE,INTERSECTION,BRONX,NaN,NaN,Closed,08/21/2018 08:07:49 AM,General maintenance and cleaning is on a regul...,08/07/2018 12:20:24 PM,10 BRONX,NaN,BRONX,1031884.0,249950.0,PHONE,Unspecified,BRONX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.852601,-73.827816,"(40.852601460220185, -73.82781602326443)",False
8,860,860,39897352,08/01/2018 08:21:08 AM,NaN,DSNY,Department of Sanitation,Graffiti,Graffiti,NaN,NaN,141 141 ST,141 ST,NaN,NaN,NaN,NaN,ADDRESS,NaN,NaN,NaN,Open,NaN,NaN,08/01/2018 08:21:08 AM,Unspecified QUEENS,NaN,QUEENS,NaN,NaN,UNKNOWN,Unspecified,QUEENS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
9,876,876,39891938,08/01/2018 08:24:41 AM,08/30/2018 12:00:00 AM,DSNY,Department of Sanitation,Graffiti,Graffiti,Mixed Use,11237.0,237 IRVING AVENUE,IRVING AVENUE,NaN,NaN,NaN,NaN,ADDRESS,BROOKLYN,NaN,NaN,Closed,09/06/2018 10:04:56 AM,The City has removed the graffiti from this pr...,09/20/2018 03:18:01 PM,04 BROOKLYN,3.032900e+09,BROOKLYN,1007216.0,194542.0,UNKNOWN,Unspecified,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.700620,-73.917173,"(40.70061981717157, -73.91717344071574)",True

In [14]:
graffiti_flag = df.groupby('graffiti_flag').size().reset_index(name= 'count')
graffiti_flag

   graffiti_flag  count
0          False  38206
1           True  26371

In [0]:
# Step 3
# Only contains graffiti_flag is true
df_graffiti = df.loc[df['graffiti_flag'] == True]

In [0]:
df_graffiti = df[df['graffiti_flag'] == True]

In [0]:
# most concise option
df_graffiti = df[df['graffiti_flag']]

In [18]:
df_graffiti.head()

,Unnamed: 0,Unnamed: 0.1,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,cross_street_1,cross_street_2,intersection_street_1,intersection_street_2,address_type,city,landmark,facility_type,status,due_date,resolution_description,resolution_action_updated_date,community_board,bbl,borough,x_coordinate_(state_plane),y_coordinate_(state_plane),open_data_channel_type,park_facility_name,park_borough,vehicle_type,taxi_company_borough,taxi_pick_up_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,latitude,longitude,location,graffiti_flag
8,860,860,39897352,08/01/2018 08:21:08 AM,NaN,DSNY,Department of Sanitation,Graffiti,Graffiti,NaN,NaN,141 141 ST,141 ST,NaN,NaN,NaN,NaN,ADDRESS,NaN,NaN,NaN,Open,NaN,NaN,08/01/2018 08:21:08 AM,Unspecified QUEENS,NaN,QUEENS,NaN,NaN,UNKNOWN,Unspecified,QUEENS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
9,876,876,39891938,08/01/2018 08:24:41 AM,08/30/2018 12:00:00 AM,DSNY,Department of Sanitation,Graffiti,Graffiti,Mixed Use,11237.0,237 IRVING AVENUE,IRVING AVENUE,NaN,NaN,NaN,NaN,ADDRESS,BROOKLYN,NaN,NaN,Closed,09/06/2018 10:04:56 AM,The City has removed the graffiti from this pr...,09/20/2018 03:18:01 PM,04 BROOKLYN,3.032900e+09,BROOKLYN,1007216.0,194542.0,UNKNOWN,Unspecified,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.700620,-73.917173,"(40.70061981717157, -73.91717344071574)",True
10,964,964,39897349,08/01/2018 08:40:34 AM,08/23/2018 12:00:00 AM,DSNY,Department of Sanitation,Graffiti,Graffiti,Residential,10467.0,345 EAST 205 STREET,EAST 205 STREET,NaN,NaN,NaN,NaN,ADDRESS,BRONX,NaN,NaN,Closed,09/06/2018 10:04:56 AM,The City has removed the graffiti from this pr...,09/13/2018 04:19:12 PM,07 BRONX,2.033500e+09,BRONX,1018509.0,257554.0,UNKNOWN,Unspecified,BRONX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.873534,-73.876124,"(40.87353414980636, -73.87612406980227)",True
12,1007,1007,39893314,08/01/2018 08:47:45 AM,08/20/2018 12:00:00 AM,DSNY,Department of Sanitation,Graffiti,Graffiti,Mixed Use,11220.0,5506 5 AVENUE,5 AVENUE,NaN,NaN,NaN,NaN,ADDRESS,BROOKLYN,NaN,NaN,Closed,09/06/2018 10:04:56 AM,The City has removed the graffiti from this pr...,09/13/2018 04:19:12 PM,07 BROOKLYN,3.008310e+09,BROOKLYN,980544.0,173249.0,UNKNOWN,Unspecified,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.642204,-74.013354,"(40.64220432954161, -74.01335393443593)",True
13,1013,1013,39897422,08/01/2018 08:49:15 AM,08/28/2018 12:00:00 AM,DSNY,Department of Sanitation,Graffiti,Graffiti,Mixed Use,11237.0,884 HART STREET,HART STREET,NaN,NaN,NaN,NaN,ADDRESS,BROOKLYN,NaN,NaN,Closed,09/06/2018 10:04:56 AM,The City has removed the graffiti from this pr...,09/13/2018 04:19:12 PM,04 BROOKLYN,3.032360e+09,BROOKLYN,1005915.0,195340.0,UNKNOWN,Unspecified,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.702813,-73.921863,"(40.70281342017164, -73.92186290937498)",True

In [19]:
# Step 4
df_graffiti.groupby('community_board')

In [20]:
df_graffiti = df.groupby(['graffiti_flag','community_board']).size().reset_index(name= 'count')
df_graffiti.sort_values('count', ascending=False)

     graffiti_flag            community_board  count
0            False              0 Unspecified   8044
79            True                01 BROOKLYN   1797
90            True               03 MANHATTAN   1593
94            True                04 BROOKLYN   1429
89            True                03 BROOKLYN   1252
7            False                02 BROOKLYN   1127
31           False                  07 QUEENS   1068
34           False               08 MANHATTAN   1009
30           False               07 MANHATTAN    983
22           False               05 MANHATTAN    968
98            True                05 BROOKLYN    962
13           False               03 MANHATTAN    918
50           False               12 MANHATTAN    844
4            False                  01 QUEENS    816
8            False               02 MANHATTAN    811
106           True                07 BROOKLYN    779
18           False               04 MANHATTAN    764
51           False                  12 QUEENS    713
2            False                01 BROOKLYN    698
59           False                18 BROOKLYN    651
26           False               06 MANHATTAN    645
27           False                  06 QUEENS    628
143           True          Unspecified BRONX    615
9            False                  02 QUEENS    611
85            True               02 MANHATTAN    598
144           True       Unspecified BROOKLYN    591
41           False                10 BROOKLYN    588
56           False                15 BROOKLYN    587
81            True                  01 QUEENS    572
52           False                13 BROOKLYN    563
46           False               11 MANHATTAN    562
25           False                06 BROOKLYN    561
23           False                  05 QUEENS    549
77            True              0 Unspecified    540
128           True                  12 QUEENS    539
28           False                   07 BRONX    538
131           True                14 BROOKLYN    532
126           True                12 BROOKLYN    532
32           False                   08 BRONX    528
5            False           01 STATEN ISLAND    515
110           True                08 BROOKLYN    505
47           False                  11 QUEENS    484
135           True                17 BROOKLYN    480
122           True                11 BROOKLYN    474
42           False               10 MANHATTAN    472
116           True                  09 QUEENS    470
113           True                   09 BRONX    464
12           False                03 BROOKLYN    463
127           True               12 MANHATTAN    459
54           False                14 BROOKLYN    451
14           False                  03 QUEENS    448
101           True                   06 BRONX    446
55           False                  14 QUEENS    433
45           False                11 BROOKLYN    427
125           True                   12 BRONX    426
15           False           03 STATEN ISLAND    414
136           True                18 BROOKLYN    410
145           True      Unspecified MANHATTAN    405
114           True                09 BROOKLYN    403
97            True                   05 BRONX    402
102           True                06 BROOKLYN    401
3            False               01 MANHATTAN    401
49           False                12 BROOKLYN    396
35           False                  08 QUEENS    381
53           False                  13 QUEENS    381
38           False               09 MANHATTAN    380
134           True                16 BROOKLYN    371
16           False                   04 BRONX    364
36           False                   09 BRONX    359
96            True                  04 QUEENS    353
40           False                   10 BRONX    351
108           True                  07 QUEENS    350
19           False                  04 QUEENS    339
39           False                  09 QUEENS    338
93            True                   04 BRONX    336
29           False                07 BROOKLYN    333
33           False                08 BROOKLYN    331
133           True                15 BROOKLYN    329
105           True                   07 BRONX    322
88            True                   03 BRONX    320
84            True                02 BROOKLYN    315
78            True                   01 BRONX    311
95            True               04 MANHATTAN    306
1            False                   01 BRONX    298
10           False           02 STATEN ISLAND    293
99            True               05 MANHATTAN    283
21           False                05 BROOKLYN    283
43           False                  10 QUEENS    275
111           True               08 MANHATTAN    273
118           True                10 BROOKLYN    268
121           True                   11 BRONX    267
44           False                   11 BRONX    266
119           True               10 MANHATTAN    266
82            True           01 STATEN ISLAND    255
146           True         Unspecified QUEENS    254
83            True                   02 BRONX    243
57           False                16 BROOKLYN    242
24           False                   06 BRONX    239
73           False       Unspecified BROOKLYN    239
48           False                   12 BRONX    237
123           True               11 MANHATTAN    229
107           True               07 MANHATTAN    224
86            True                  02 QUEENS    219
100           True                  05 QUEENS    219
58           False                17 BROOKLYN    204
120           True                  10 QUEENS    202
91            True                  03 QUEENS    202
115           True               09 MANHATTAN    201
129           True                13 BROOKLYN    196
20           False                   05 BRONX    195
37           False                09 BROOKLYN    182
11           False                   03 BRONX    182
74           False      Unspecified MANHATTAN    179
103           True               06 MANHATTAN    162
117           True                   10 BRONX    150
80            True               01 MANHATTAN    146
130           True                  13 QUEENS    142
17           False                04 BROOKLYN    138
112           True                  08 QUEENS    129
109           True                   08 BRONX    127
6            False                   02 BRONX    105
75           False         Unspecified QUEENS     97
63           False                55 BROOKLYN     91
132           True                  14 QUEENS     91
72           False          Unspecified BRONX     69
104           True                  06 QUEENS     68
65           False               64 MANHATTAN     59
124           True                  11 QUEENS     57
87            True           02 STATEN ISLAND     42
92            True           03 STATEN ISLAND     40
60           False                   26 BRONX     22
68           False                  82 QUEENS     22
67           False                  81 QUEENS     13
62           False                   28 BRONX      8
71           False           95 STATEN ISLAND      8
147           True  Unspecified STATEN ISLAND      8
64           False                56 BROOKLYN      6
70           False                  84 QUEENS      5
137           True                   26 BRONX      5
142           True                  81 QUEENS      5
61           False                   27 BRONX      5
69           False                  83 QUEENS      4
138           True                   27 BRONX      4
66           False                  80 QUEENS      3
139           True                   28 BRONX      2
140           True                55 BROOKLYN      2
76           False  Unspecified STATEN ISLAND      2
141           True               64 MANHATTAN      1

In [21]:
# this is wrong because I redefined graffiti_flag
graffiti_flag = df.groupby('community_board').size().nlargest().reset_index(name= 'count')
graffiti_flag

  community_board  count
0   0 Unspecified   8584
1    03 MANHATTAN   2511
2     01 BROOKLYN   2495
3     03 BROOKLYN   1715
4     04 BROOKLYN   1567

In [22]:
# Group dataframe df_graffiti to get the count of requests per community_board
df_graffiti.groupby('community_board').size().reset_index(name='count')

              community_board  count
0               0 Unspecified      2
1                    01 BRONX      2
2                 01 BROOKLYN      2
3                01 MANHATTAN      2
4                   01 QUEENS      2
5            01 STATEN ISLAND      2
6                    02 BRONX      2
7                 02 BROOKLYN      2
8                02 MANHATTAN      2
9                   02 QUEENS      2
10           02 STATEN ISLAND      2
11                   03 BRONX      2
12                03 BROOKLYN      2
13               03 MANHATTAN      2
14                  03 QUEENS      2
15           03 STATEN ISLAND      2
16                   04 BRONX      2
17                04 BROOKLYN      2
18               04 MANHATTAN      2
19                  04 QUEENS      2
20                   05 BRONX      2
21                05 BROOKLYN      2
22               05 MANHATTAN      2
23                  05 QUEENS      2
24                   06 BRONX      2
25                06 BROOKLYN      2
26               06 MANHATTAN      2
27                  06 QUEENS      2
28                   07 BRONX      2
29                07 BROOKLYN      2
30               07 MANHATTAN      2
31                  07 QUEENS      2
32                   08 BRONX      2
33                08 BROOKLYN      2
34               08 MANHATTAN      2
35                  08 QUEENS      2
36                   09 BRONX      2
37                09 BROOKLYN      2
38               09 MANHATTAN      2
39                  09 QUEENS      2
40                   10 BRONX      2
41                10 BROOKLYN      2
42               10 MANHATTAN      2
43                  10 QUEENS      2
44                   11 BRONX      2
45                11 BROOKLYN      2
46               11 MANHATTAN      2
47                  11 QUEENS      2
48                   12 BRONX      2
49                12 BROOKLYN      2
50               12 MANHATTAN      2
51                  12 QUEENS      2
52                13 BROOKLYN      2
53                  13 QUEENS      2
54                14 BROOKLYN      2
55                  14 QUEENS      2
56                15 BROOKLYN      2
57                16 BROOKLYN      2
58                17 BROOKLYN      2
59                18 BROOKLYN      2
60                   26 BRONX      2
61                   27 BRONX      2
62                   28 BRONX      2
63                55 BROOKLYN      2
64                56 BROOKLYN      1
65               64 MANHATTAN      2
66                  80 QUEENS      1
67                  81 QUEENS      2
68                  82 QUEENS      1
69                  83 QUEENS      1
70                  84 QUEENS      1
71           95 STATEN ISLAND      1
72          Unspecified BRONX      2
73       Unspecified BROOKLYN      2
74      Unspecified MANHATTAN      2
75         Unspecified QUEENS      2
76  Unspecified STATEN ISLAND      2

In [23]:
# Group dataframe df_graffiti to get the count of requests per community_board and use nlargest() 
# 01 Brooklyn has the largest count 1797
df_graffiti.groupby('community_board').size().nlargest().reset_index(name= 'count')

  community_board  count
0   0 Unspecified      2
1        01 BRONX      2
2     01 BROOKLYN      2
3    01 MANHATTAN      2
4       01 QUEENS      2